services:
  api:
    build: .
    container_name: mis_bono_api
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
      
    extra_hosts:
      - "s3.minio.mis.com:145.32.10.230"  
